article.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 150vh;
	margin: 60px auto;
	margin-bottom: 0;
}

article.container h1 {
	color: #fafafa;
	font-size: 28px;
	font-weight: 500;
}

section.cards {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

section.charts {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.chart-main {
	width: 100%;
	margin: 40px 0;
}

.double-chart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}

.chart {
	margin: 2px;
	width: 47%;
}

@media screen and (max-width: 1221px) {
	.chart {
		width: 100%;
	}
}
