.card {
	height: 250px;
	width: 250px;
	display: flex;
	border-radius: 30px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: rgb(80, 6, 29);
	background-color: rgb(253, 92, 92);
}

/* .card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	border: 1px solid #fafafa;
	margin-left: 22px;
} */

.card-icon img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-image: linear-gradient(
		to right bottom,
		#d43a3a,
		#d63f3f,
		#d84343,
		#da4848,
		#dc4c4c,
		#de4c4c,
		#e04c4b,
		#e24c4b,
		#e44746,
		#e74241,
		#e93c3c,
		#eb3636
	);
	opacity: 0.95;
	padding: 10px;
}

.card-details h3 {
	font-size: 23px;
	margin: 5px 0;
	text-align: center;
}

.card-details p {
	text-align: center;
	margin: 5px 0;
}
